[MASTER]

disable=
    duplicate-code,
    fixme,
    invalid-name,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    no-else-return,
    no-self-use,
    too-few-public-methods,
    too-many-arguments,
    unused-argument
